
<div style="height:20px">
    
</div>
<section style="padding:50px auto; margin:100px">
    <div class="container">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Row</th>
                    <th scope="col">Time</th>
                    <th scope="col">Gas Concentration</th>
                    <th scope="col">Temperature</th>
                    <th scope="col">Humidity</th>
                </tr>
            </thead>
            <tbody>
                {{#each result.logs as |res index|}}
                <tr>
                    <th scope="row">{{index}}</th>
                    <td>{{res.time_stamp}}</td>
                    <td>{{res.concentration}}</td>
                    <td>{{res.temperature}}</td>
                    <td>{{res.humidity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>