<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Row</th>
            <th scope="col">Time</th>
            <th scope="col">Gas Concentration</th>
            <th scope="col">Temperature</th>
            <th scope="col">Humidity</th>
        </tr>
    </thead>
    <tbody>
        {{#each result as |result index|}}
        <tr>
            <th scope="row">{{index}}</th>
            <td>{{result}}</td>
            <td>{{result.concetration}}</td>
            <td>{{result.temperature}}</td>
            <td>{{result.humidity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>